<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE]
RewriteCond %{THE_REQUEST} \s/+FantaArtois/index\.html(?:[?\s]) [NC]
RewriteRule ^index\.html$ /FantaArtois/? [R=301,L,NE]
</IfModule>

<IfModule mod_headers.c>
Header always set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0, s-maxage=0"
Header always set Pragma "no-cache"
Header always set Expires "0"
Header always set Surrogate-Control "no-store"
Header always set Clear-Site-Data "\"cache\""
</IfModule>

<IfModule mod_expires.c>
ExpiresActive Off
</IfModule>

FileETag None
