RewriteEngine On
DirectoryIndex index.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# BEGIN IMC MINISITE NO CACHE
<IfModule mod_headers.c>
  Header always set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
  Header always set Pragma "no-cache"
  Header always set Expires "0"
  Header always unset ETag
</IfModule>
FileETag None
# END IMC MINISITE NO CACHE
